<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        // If browser supports service workers
        navigator.serviceWorker && navigator.serviceWorker.register("./service-worker.js")
    </script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if (!IS_DEV) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HYBK65DSST"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
    
            gtag('config', 'G-HYBK65DSST', {
                cookie_domain: window.location.hostname,
                cookie_flags: "SameSite=None;Secure",
            });
        </script>
    <% } %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | BPGC Everyone</title>
    <meta name="theme-color" content="#000000">

    <!-- Icons -->
    <link rel="apple-touch-icon" href="./static/images/logos/logo-512.png">
    <link rel="shortcut icon" href="./static/images/logos/logo.svg" type="image/svg">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Open Graph Tags -->
    <meta name="author" content="Aryan Pingle" />
    <meta name="description" content="Any hostel, any room, any branch. Find anyone in BITS Goa using BPGC Everyone." />
    <meta name="og:title" content="About | BPGC Everyone" />
    <meta name="og:site_name" content="BPGC Everyone">
    <meta name="og:description" content="Find anyone in BITS Goa" />
    <meta name="og:url" content="https://bpgc-everyone-remastered.netlify.app/" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="https://bpgc-everyone-remastered.netlify.app/static/images/logos/banner.jpg">
    <meta name="og:image:width" content="720">
    <meta name="og:image:height" content="405">
    <meta name="og:image:type" content="image/jpeg">

    <!-- CSS -->
    <style>
        <%- getBundledCode("index.css") %>
    </style>

    <!-- PWA -->
    <link rel="manifest" href="./manifest.json">

    <!-- Font Inline -->
</head>

<body>
    <div class="page">
        <section class="hero-section">
            <div class="hero__main">
                <div class="hero__title">BPGC<span>Everyone</span></div>
                <div class="hero__cta">
                    Everyone who is, was, or will be in BITS Goa
                </div>
                <a href="./search.html" id="start-exploring-button">
                    <div class="start-exploring__arrow"></div>
                    Start Exploring
                    <div class="start-exploring__arrow"></div>
                </a>
            <div class="hero__p"></div>
            </div>
            <div class="hero__aside">
                <div class="words-row">
                    <span>Neighbour Dulla Phoenix&nbsp;</span><span>Neighbour Dulla Phoenix&nbsp;</span>
                </div>
                <div class="words-row">
                    <span>Senior Junior Homie Litesian&nbsp;</span><span>Senior Junior Homie Litesian&nbsp;</span>
                </div>
                <div class="words-row">
                    <span>Alumnus Peer Ghot Snake&nbsp;</span><span>Alumnus Peer Ghot Snake&nbsp;</span>
                </div>
                <div class="words-row">
                    <span>Crush Roomie Topper Rival&nbsp;</span><span>Crush Roomie Topper Rival&nbsp;</span>
                </div>
                  
            </div>
        </section>
        <section class="features-section">
            <!-- PWA, Open Source, Updated with SWD -->
            <div class="feature-component-wrapper">
                <div class="feature-component feature--pwa">
                    <div class="feature-icon">
                        <%- get_svg("src/static/images/icons/pwa.svg") %>
                    </div>
                    <div class="feature-description">
                        <div class="feature-title">PWA</div>
                        <div class="feature-subtitle">You can install this site like a regular app</div>
                    </div>
                    <div class="feature-popup" id="pwa-install-guide"></div>
                </div>
            </div>
            <div class="feature-component-wrapper">
                <div class="feature-component feature--open-source">
                    <div class="feature-icon">
                        <%- get_svg("src/static/images/icons/github.svg") %>
                    </div>
                    <div class="feature-description">
                        <div class="feature-title">Open Source</div>
                        <div class="feature-subtitle">Completely Open Sourced</div>
                    </div>
                    <a href="https://github.com/aryanpingle/BPGC-Everyone" class="feature-popup" target="_blank">View source code</a>
                </div>
            </div>
            <div class="feature-component-wrapper">
                <div class="feature-component feature--offline">
                    <div class="feature-icon">
                        <%- get_svg("src/static/images/icons/offline.svg") %>
                    </div>
                    <div class="feature-description">
                        <div class="feature-title">Offline</div>
                        <div class="feature-subtitle">It just works<br>Even offline</div>
                    </div>
                    <div class="feature-popup">Automatically updates</div>
                </div>
            </div>
        </section>
    </div>

    <script>
        <%- getBundledCode("index.js") %>
    </script>
</body>

</html>