<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        // If browser supports service workers
        navigator.serviceWorker && navigator.serviceWorker.register("./service-worker.js")
    </script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if (!IS_DEV) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HYBK65DSST"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-HYBK65DSST', {
                cookie_domain: window.location.hostname,
                cookie_flags: "SameSite=None;Secure",
                "custom_map": { "dimension0": "batch" }
            });
        </script>
    <% } %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search | BPGC Everyone</title>
    <meta name="theme-color" content="#000000">

    <!-- Icons -->
    <link rel="apple-touch-icon" href="./static/images/logos/logo-512.png">
    <link rel="shortcut icon" href="./static/images/logos/logo.svg" type="image/svg">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Open Graph Tags -->
    <meta name="author" content="Aryan Pingle" />
    <meta name="description" content="Any hostel, any room, any branch. Find anyone in BITS Goa using BPGC Everyone." />
    <meta name="og:title" content="Search | BPGC Everyone" />
    <meta name="og:site_name" content="BPGC Everyone">
    <meta name="og:description" content="Find anyone in BITS Goa" />
    <meta name="og:url" content="https://bpgc-everyone-remastered.netlify.app/search.html" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="https://bpgc-everyone-remastered.netlify.app/static/images/logos/banner.jpg">
    <meta name="og:image:width" content="720">
    <meta name="og:image:height" content="405">
    <meta name="og:image:type" content="image/jpeg">

    <!-- CSS -->
    <style>
        <%- getBundledCode("search.css") %>
    </style>

    <!-- PWA -->
    <link rel="manifest" href="./manifest.json">

    <!-- Google Auth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <!-- Font Inline -->
</head>

<body>
    <div class="preloader">
        <div class="preloader-icon">
            <%- get_svg("src/static/images/logos/logo.svg") %> 
        </div>
    </div>
    <div id="auth-overlay" style="display: none;">
        <div class="auth-overlay__inner">
            <header class="auth-header">
                <span id="bpgc-text">BPGC</span>
                <span id="everyone-text">EVERYONE</span>
            </header>
            <div class="auth-description">
                (Use your BITS Gmail)
            </div>
            <div class="auth-container">
                <div id="auth-button"></div>
            </div>
            <div class="auth-disclaimer">
                * No personal data will be collected, this is just to verify that you are a BITSian
            </div>
        </div>
    </div>
    <div class="page" style="display: none;">
        <div class="main-tab" id="main-tab">
            <!-- Main Tab Header -->
            <header class="main-tab__header">
                <div class="search-bar">
                    <div class="search-or-clear-rel">
                        <div class="search-bar-search-icon-wrapper">
                            <button tabindex="-1" class="single-image-button" id="search-bar-search-icon" aria-label="search">
                                <%- get_svg("src/static/images/icons/search.svg") %>
                            </button>
                        </div>
                        <div class="search-bar-clear-icon-wrapper">
                            <button tabindex="-1" class="single-image-button" id="search-bar-clear-icon" aria-label="clear">
                                <%- get_svg("src/static/images/icons/cross.svg") %>
                            </button>
                        </div>
                    </div>
                    <div class="input-container">
                        <input id="search-bar" type="text" name="searchbar" placeholder="Search" spellcheck="false" autocomplete="off">
                    </div>
                </div>
                <!-- Settings Icon -->
                <button mobile-only class="single-image-button" id="open-settings-tab" aria-label="open settings tab">
                    <%- get_svg("src/static/images/icons/menu.svg") %>
                </button>
            </header>

            <!-- Main Tab Taskbar -->
            <div class="taskbar">
                <span id="result-count">-</span>
                <button id="sort-dropdown-button">
                    <span id="sort-type-indicator">Sort (default)</span>&nbsp;&#9660;
                </button>
            </div>

            <!-- Sort Dropdown -->
            <div class="sort-dropdown-wrapper">
                <div class="sort-dropdown">
                    <button class="sort-button selected" value="relevance">Default</button>
                    <button class="sort-button" value="room">Room</button>
                    <button class="sort-button" value="cgpa" style="display: none;">CGPA</button>
                    <button class="sort-button" value="oldest">Oldest</button>
                    <button class="sort-button" value="youngest">Youngest</button>
                    <% if (IS_ADMIN) { %>
                        <button class="sort-button" value="bday">B'day</button>
                    <% } %>
                </div>
            </div>

            <!-- Results Section -->
            <div class="results-section">
                <div class="results-container"></div>
            </div>
        </div>
        <div desktop-only class="tab-divider"></div>
        <div class="settings-tab hidden">
            <!-- Accessibility link to skip to results -->
            <a id="skip-to-main" href="#main-tab"><span>Skip to results</span></a>

            <header mobile-only class="settings-tab__header">
                <span>Settings</span>
                <button mobile-only class="single-image-button" id="close-settings-tab" aria-label="close settings tab">
                    <%- get_svg("src/static/images/icons/cross.svg") %>
                </button>
            </header>

            <div class="filters-container">

                <!-- PWA Install Popup -->
                <div class="popup-component" id="pwa-install-popup">
                    <div class="popup-header">// [INFO] PWA</div>
                    <div class="popup-contents">
                        <div class="popup-divider popup-divider--horizontal popup-divider--top"></div>
                        <div class="popup-divider popup-divider--horizontal popup-divider--bottom"></div>
                        <div class="popup-divider popup-divider--vertical popup-divider--left"></div>
                        <div class="popup-divider popup-divider--vertical popup-divider--right"></div>
                        <div class="popup-title">Install App</div>
                        <div class="popup-description">
                            Download the app to unlock the full power of BPGC Everyone
                        </div>
                        <div class="popup-cta" id="pwa-install-guide">[GUIDE]</div>
                    </div>
                </div>

                <!-- Now for normal filter components -->

                <% FILTERS.forEach(({field, filter_name, filter_toggles}, index)=> { %>
                    <div class="filter-component hue--<%= field %>" value="<%= field %>">
                        <header>
                            <%= filter_name %>
                                <button class="single-image-button select-all-toggles" value="<%= field %>" aria-label="Select all <%= filter_name.toLowerCase() %>s" title="Select All">
                                    <%- get_svg("src/static/images/icons/select all.svg") %>
                                </button>
                        </header>
                        <div class="underscore">
                            <div class="underscore__component"></div>
                        </div>
                        <% filter_toggles.forEach(filter_row=> { %>
                            <div class="filter-row">
                                <% Object.entries(filter_row).forEach(([toggle_value, toggle_name])=> { %><button class="filter-toggle" field="<%= field %>" value="<%= toggle_value %>" aria-label="<%= toggle_value %>"><%= toggle_name %></button><% }) %>
                            </div>
                            <% }) %>
                    </div>
                <% }) %>

                <!-- Footer with credits -->
                
                <div class="footer">
                    <div class="footer__icons">
                        <a class="footer__icon" href="https://github.com/aryanpingle/BPGC-Everyone">
                            <%- get_svg("src/static/images/icons/github.svg") %>
                        </a>
                    </div>
                    <div class="footer__credit">v<%= APP_VERSION %> • Made by <span id="contact-me">Aryan Pingle</span></div>
                </div>
            </div>
        </div>
        <div id="update-alert" class="page__overlay">
            <div class="update-alert-contents">
                <div class="update-alert-icon">
                    <%- get_svg("src/static/images/icons/update-icon.svg") %>
                </div>
                <div class="update-alert-title">Updates Found</div>
                <div class="update-alert-description">Updates will be applied on reloading the app - or you can do it now</div>
                <div class="update-alert-cta">
                    <button id="update-alert--ignore">Ignore</button>
                    <button id="update-alert--update">Update</button>
                </div>
            </div>
        </div>
        <div id="notification-overlay" class="page__overlay"></div>
    </div>

    <div style="display: none" id="template-svg">
        <%- get_svg("src/static/images/icons/cross.svg") %>
    </div>

    <script>
        <%- getBundledCode("search.js") %>
    </script>
</body>

</html>